<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="<%= url==='/'? 'active':'' %>" href="/">Sale</a></li>
                <li class="main-header__item"><a class="<%= url==='/all-products'? 'active':'' %>"
                        href="/all-products">All
                        Products</a></li>
                <li class="main-header__item"><a class="<%= url==='/cart'? 'active':'' %>" href="/cart">Cart</a></li>
                <li class="main-header__item"><a class="<%= url==='/post-order'? 'active':'' %>"
                        href="/post-order">Orders</a></li>


                <% if(AuthenticUser!==undefined && AuthenticUser){ %>
                    <li class="main-header__item"><a class="<%= url==='/admin/add-product'? 'active':'' %>"
                        href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a class="<%= url==='/admin/product-list'? 'active':'' %>" href="/admin/product-list">Product-List</a></li>
                    <%}%>
            </ul>
            <ul class="main-header__item-list">

               <%if(!AuthenticUser){%>
                <li class="main-header__item">
                    <a class="<%= url==='/login'? 'active':'' %>" href="/login">Login</a>
                </li>
                <%}%>



                <%if(AuthenticUser!==undefined && AuthenticUser){%>
                
                    <li class="main-header__item">
                        <form class="login-form" action="/logout" method="post">
                            <button class="btn" type="submit">Logout</button>
                        </form>
                    </li>
                    <%}%>
            </ul>

           
                    

        </nav>
    </header>