<%-include("../includes/head.ejs")%>

    </head>
    <%-include("../includes/nav.ejs")%>



        <main>
            <% if(productArray.length!=0){ %>
                <% for(let book of productArray){ %>
                    <div class="grid">
                        <article class="card product-item">
                            <header class="card__header">
                                <h3 class="product__title">Item In cart:
                                    <%=book.title%>
                                </h3>
                            </header>
                            <div class="card__image">
                                <img src=<%=book.image %>
                                alt="A Book">
                            </div>
                            <div class="card__content">
                                <h2 class="product__price">Rs: <%=book.price%>
                                </h2>
                                <h3 class="product__description">Qty: <%= book.quantity%>
                                </h3>
                                <h3 class="product__description">Total: <%= book.TotalPrice%>
                                </h3>

                                <form action="/delete-cart-product" method="POST">
                                    <input type="hidden" name="productID" value="<%=book._id%>">
                                    <button class="btn" type="submit">Delete</button>
                                </form>

                            </div>
                            <!-- <%-include("../includes/cartDetailBtn.ejs",{book:book})%> -->
                        </article>
                    </div>
                    <%}%>
                        <div class="card__content">
                            <h2 class="product__price">GrandTotal:<%=grandTotal%>
                            </h2>



                        </div>
                        <div class="centered">
                            <form action="/post-order" , method="post">
                                <button class="btn" type="submit">Checkout</button>
                            </form>
                        </div>

                        <%} else{%>
                            <p>Cart is empty</p>
                            <% }%>


        </main>


        </body>

        <%-include("../includes/end.ejs")%>