<%-include("../includes/head.ejs")%>
    </head>
    <%-include("../includes/nav.ejs")%>


        <% if(orders.length>0){ %>
            <ol>
                <%for(let order of orders){ %>
                    <li><h1> order ID :<%=order._id %>
                    </li></h1>
                    <% for(let item of order.items){%>
                        
                            <h2>Product-Title
                                <%= item.product.title%>
                            </h2>
                            <h3>unit-price
                                <%= item.product.price%>
                            </h3>
                            <h3>Qty:
                                <%=item.product.quantity %>
                            </h3>
                            
                        

                        <%}%>
                        <h2>Order-Grandtotal: <%= order.grandTotal %>
                        </h2>
                            <%}%>

            </ol>
            <%} else {%>

                <p>Nothing here!</p>
                <%}%>
                    </body>

                    <%-include("../includes/end.ejs")%>