<%-include("../includes/head.ejs")%>
    </head>
    <%-include("../includes/nav.ejs")%>


        <% if(orders.length>0){ %>
            <ol>
                <%for(let order of orders){ %>
                    <li><h1> order ID :<%=order._id %>
                    </li></h1>
                    <% for(let items of order.orderItems){%>
                        
                            <h2>
                                <%= items.title%>
                            </h2>
                            <h5>unit-price
                                <%= items.unitPrice%>
                            </h5>
                            <h5>Qty:
                                <%=items.quantity %>
                            </h5>
                            <h5>TotalPrice: <%= items.TotalPrice %>
                            </h5>
                        

                        <%}%>
                        <h3>Order-Grandtotal: <%= order.GrandTotal %>
                        </h3>
                            <%}%>

            </ol>
            <%} else {%>

                <p>Nothing here!</p>
                <%}%>
                    </body>

                    <%-include("../includes/end.ejs")%>